allow ueventd vfat:dir search;
allow ueventd vfat:file { getattr open read };
r_dir_file(ueventd, vfat)

allow ueventd exfat:file { getattr open read };
allow ueventd exfat:dir search;

allow ueventd proc:file { read };
