allow vendor_init firmware_file:lnk_file { read };
allow vendor_init system_data_file:lnk_file { create };
allow vendor_init system_data_file:file { create };
allow vendor_init sysfs:file { relabelfrom };
allow vendor_init sysfs:dir { relabelfrom };
allow vendor_init wifi_data_file:file { create };
allow vendor_init rootfs:dir { write create setattr add_name };
